<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yhyhealthy">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".module.YHYHealthyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TeachVideoActivity"></activity>
        <activity android:name=".SymptomActivity" />
        <activity android:name=".RemoteListEditActivity" />
        <activity android:name=".UserDeviceActivity" />
        <activity android:name=".DegreeListEditActivity" />
        <activity android:name=".DegreeAddActivity" />
        <activity android:name=".DegreeMainActivity" />
        <activity android:name=".DegreeEditActivity" />

        <service
            android:name=".BleService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".VideoShowActivity" />
        <activity android:name=".VideoListActivity" />
        <activity android:name=".ArticleDetailActivity" />
        <activity android:name=".ArticleListActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".ArticleActivity" />
        <activity android:name=".UserChangeVerificActivity" />
        <activity android:name=".ForgetPassActivity" />
        <activity android:name=".UserMarriageActivity" />
        <activity android:name=".SystemAccountActivity" />
        <activity android:name=".UserPregnancyActivity" />
        <activity android:name=".UserPeriodActivity" />
        <activity android:name=".UserChangePassActivity" />
        <activity android:name=".UserBasicActivity" />
        <activity android:name=".SystemUserActivity" />
        <activity android:name=".SystemSettingActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".RecordActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PrivacyActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".TemperatureActivity" />
        <activity android:name=".OvulationActivity" />
        <activity android:name=".AppPage" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>